{% extends "layouts/base.html" %}
{% block title %} Survey {% endblock %}

{% block content %}
<h1> We hear you write your recommendation and rating</h1>

<form method = "post" >
    {% csrf_token %}
    {% comment %} {{form}} {% endcomment %}

    <label>Recommendation:</label>
    <input type = "text" name= "recSurvey" />

    <br/>
    
    <label>Rating out of 10:</label>
    <input type = "number" name= "rateSurvey"/>

    <br/>

    <button type="submit"/>Submit</button>
</form>
<br/>


        {%for b in record%}
        <p> thank you for your recommendation and rate {{b.record}}<p>
        {%endfor%}

{% endblock content %}

